@model TomyChimmy.Models.Queue

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Patata"] = 1;
}

<h1>Checkout</h1>

<h5>All Fields Required</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Method_Id" class="control-label"></label>
                <select asp-for="Method_Id" class ="form-control" asp-items="ViewBag.Method_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Status_ID" class="control-label" type="hidden"></label>
                <input asp-for ="Status_ID" class="form-control" value="@ViewData["Patata"].ToString()" type="hidden"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark mt-auto" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}